//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout
block content
  h1 Create a new pool
  script(type='text/javascript').
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#parent').hide();
      $('#stream').hide();
    });//ready
   
  form.form-horizontal(method='post', action='/topology/pools')
    fieldset
      legend Create a pool for topology
      div.clearfix
        div.input 
          div.row 
            div.span3
              p name 
            div
              input.span6(name='pool[name]')
          div.row
            div.span3
              p description
            div
              input.span6(name='pool[description]') 
          div.row
            div.span3
              p Type
            div
              select
                option(value="app") app
                option(value="noapp") noapp 
          div.row(id="parent")
            div.span6
              p Parent Pool
            div
              select(name='pool[parentPool]')
                each pool in pooldocs
                  option(value='#{pool.id}') #{pool.name}            
          div.row(id="stream")
            div.span6
              p Attached Stream
            div
              select(name='pool[attachedStream]')
                each stream in streamdocs
                  option(value='#{stream.buildStream}') #{stream.buildStream}     
          div.row(id="topology")
            div.span3
              p Topology
            div
              select.span3(name='pool[topologyRef]')
                each topology in topdocs
                  option(value='#{topology.id}') #{topology.name}
<<<<<<< HEAD
=======
                
              
          div.row
            div.span3
              p Type
            div
              select.span3
                option(value="app") app
                option(value="noapp") noapp
                
>>>>>>> c96f8ee49313ce144fb25737091713e911ee6883
          div.row
            div.span3
              p poolMinAvailable
            div
              input.span6(name='pool[poolMinAvailable]')
          div.row
            div.span3
              p poolMaxTotal
            div
              input.span6(name='pool[poolMaxTotal]')

        div.actions 
          div.row
            input.offset3(type='submit', value='Save', class='btn primary')
            button.offset1(type='reset', class='btn') Cancel


