//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout
block content
  h1 Edit topology view
  script(type='text/javascript').
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#div_provider').show();
               $.ajax({
               url: "/api/v1/providers/",
               type: "GET",
               success: function( json ) {
                 var option_string='';
                 json.forEach( function(provider){
                 option_string=option_string+'<option value="' +provider._id+'">'+provider.name+'</option>';
                 });
                 if(option_string=='')
                     alert( "please define the topology providers first!" );
                 $('#div_provider select').html(option_string);
               },
               error: function( xhr, status, errorThrown ) {
                 alert( "Sorry, there was a problem to get providers!" );
                 console.log( "Error: " + errorThrown );
                 console.log( "Status: " + status );
               }
             });//ajax
    });//ready

  form(method='post', action='/topology/topologies/' + topology.id)
    input(name='_method', value='PUT', type='hidden')
    fieldset
      legend Editing topology
        div.clearfix
          div.input
            div.row
              div.span3 
                p Name
              input.span3(name='topology[name]', class='xlarge', value="#{topology.name}")
            div.row(id="div_provider")
              div.span3
                p Provider
              div
                select(name='topology[providerRef]')
            div.row
              div.span3 
                p TopologyDocument
              textarea.span6(name='topology[topologyDocument]', rows=20, class='xlarge') #{topology.topologyDocument}
            div.row
              div.span3 
                p Process Template
              textarea.span6(name='topology[appProcessTemplate]', rows=20, class='xlarge') #{topology.appProcessTemplate}
            div.row
              div.span3 
                p referenceURL
              input.span6(name='topology[referenceURL]', class='xlarge', value="#{topology.referenceURL}")
            div.row
              div.span3 
                p Description
              input.span6(name='topology[description]', class='xlarge', value="#{topology.description}")
        div.actions
          input.offset3(type='submit', value='Save', class='btn primary')
          button.offset1(type='reset', class='btn') Cancel

