//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout

block content
  h1= title
  p The following is a list of the available providers
  - if(docs.length)
    table.table.table-striped
      thead
        tr
          th Provider Name          
          th UCD webURL
          th IWD host
          th Description
          th Details
      tbody
          each provider in docs
            tr
              td #{provider.name}
              td #{provider.UCD_webURL}
              td #{provider.IWD_host}
              td #{provider.description}
              td 
                a(href="/api/v1/providers/#{provider._id}") json
              td
                a.btn(href="/providers/#{provider._id}/edit") Edit
              td
                form(method='post', action='/providers/' + provider._id)
                  input(name='_method', value='DELETE', type='hidden')
                  button.btn(type='submit') Delete
  - else
    p No available providers
  p
    a(href='/providers/new', class='btn primary') Create a new Provider
