//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout

block content
  h1= title
  script(type='text/javascript').
    window.onload = function() {
      alert( "welcome to instance page!" );
    }
  p The following is a list of the instances
  - if(docs.length)
    table.table.table-striped
      thead
        tr
          th Instance Name
          th Instance Type
          th Creation Date
          th Checkout User
          th Checkout Comment
      tbody
          each instance in docs
            tr
              td #{instance.name}
              td #{instance.type}
              td #{instance.creationDate}
              td #{instance.checkoutUser}
              td #{instance.checkoutComment}
              td
                a.btn(href="/topology/pools/#{instance.poolRef}/#{instance.id}/checkout") CheckOut
              td
                form(method='post', action='/topology/pools/' + instance.poolRef+'/instances/' instance.id)
                  input(name='_method', value='DELETE', type='hidden')
                  button.btn(type='submit') Delete
  - else
    p No available instances
  
