//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout

block content
  h1= title
  script(type='text/javascript').
    $( document ).ready(function() {
      console.log( "ready!" );
      
      var  btn_obj;
      $('#deletedialog').dialog({
        modal: true,
        autoOpen: false,
        buttons: [
          {
           text: 'OK',
           click: function() {
             $( this ).dialog( "close" );
             $.ajax({
               url: btn_obj.value,
               type: "DELETE",
               success: function( json ) {
                  console.log( "btn_obj.id:"+btn_obj.id );
                  var btn=$('#'+btn_obj.id);
                  var row=btn.parent().parent();
                  row.remove();
               },
               error: function( xhr, status, errorThrown ) {
                 alert( "Sorry, there was a problem!" );
                 console.log( "Error: " + errorThrown );
                 console.log( "Status: " + status );
               }
             });//ajax

           }
          },
          {
           text: 'CANCEL',
           click: function() {
             $( this ).dialog( "close" );
           }
          }
        ]
      });//delete dialog
      console.log(  $(':button:contains("Delete")') );
        $(':button:contains("Delete")')
        .click(function() {
         btn_obj=this;
         console.log('setting button obj'+btn_obj);
         $('#deletedialog').dialog('open');
        });      
      console.log(  $(':button:contains("Recommend")') );
        $(':button:contains("Recommend")')
        .click(function() {
         btn_obj=this;
         console.log('setting button obj'+btn_obj);
             $.ajax({
               url: btn_obj.value,
               data: {
                 isRecommended: true
               },
               type: "PUT",
               dataType : "json",
               success: function( json ) {
                  console.log( "btn_obj.id:"+btn_obj.id );
                  var btn=$('#'+btn_obj.id);
                  var recommended=btn.parent().prev();
                  recommended.text('true');
                  btn.remove();
               },
               error: function( xhr, status, errorThrown ) {
                 alert( "Sorry, there was a problem!" );
                 console.log( "Error: " + errorThrown );
                 console.log( "Status: " + status );
               }
             });//ajax
        });      
      });//ready
    
  p The following is a list of the instances
  - if(docs.length) 
    div(id="deletedialog", title="Delete Confirmation")
     p
      label
        Are you sure you want to delete it? 

    table.table.table-striped
      thead
        tr
          th BuildID
          th Build Stream
          th Details 
          th Recommended?          
      tbody
          each build in docs
            tr
              td
               a(href="#{build.refURL}" target="_blank") #{build.BUILDID} 
              td #{build.buildStream}
              td 
               a(href="/api/v1/builds/#{build.BUILDID}" ) json 
              td #{build.isRecommended}
              td
                if !build.isRecommended
                  button.btn(type='submit',value='/api/v1/builds/'+ build.BUILDID, id='Recommend_'+build.BUILDID) Recommend
              td
                button.btn(type='submit',value='/api/v1/builds/' + build.BUILDID, id='delete_'+ build.BUILDID, title='Delete '+build.BUILDID+' ?') Delete
  - else
    p No available instances
  p
    a(href='/builds/new', class='btn primary') Add a new build
  
